// .alert-notice {
//   @extend .alert-success;
// }
//
// .alert-alert {
//   @extend .alert-warning;
// }
//
@charset "utf-8";
@import "bootstrap-4-spacers";
@import 'chosen';

.messages {
   max-height: 400px;
   overflow-y: auto;
   margin-bottom: 1em;
   margin-top: 1em;
}
