// .alert-notice {
//   @extend .alert-success;
// }
//
// .alert-alert {
//   @extend .alert-warning;
// }
//
@charset "utf-8";
@import "bootstrap-4-spacers";
@import 'chosen';

.messages {
   max-height: 400px;
   overflow-y: auto;
   margin-bottom: 1em;
   margin-top: 1em;
}

.dashboard-img {
   width:150px;
}

.search {
   margin: auto;
   padding-top: 5px;
   padding-left: 5px;
   display: inline-block;
   width: 175px;
}

.fabutton {
   background: none;
   padding: 0px;
   border: none;
}

.toggle {
   margin: 8% 0 8% 0;
}

.text_game_status {
   text-align: center;
   font-size: 16px;
   margin: 19% 0 19% 0;
}

.game_status {
   text-align: center;
   margin: 10% 0 10% 0;
}
