// .alert-notice {
//   @extend .alert-success;
// }
//
// .alert-alert {
//   @extend .alert-warning;
// }
//
@charset "utf-8";
@import "bootstrap-4-spacers";
@import 'chosen';

.messages {
   max-height: 400px;
   overflow-y: auto;
   margin-bottom: 1em;
   margin-top: 1em;
}

.dashboard-img {
   width:150px;
}

.search {
   margin: auto;
   padding-top: 5px;
   padding-left: 5px;
   display: inline-block;
   width: 175px;
}
